/* ========== GLOBALS ========== */

:root {
  --bistre: #422D24;
  --barbie-pink: #DF8698;
  --pastel-pink: #E9AFAE;
  --white: #FFFFFF;

  --font-sm: 0.875rem; /* 14px */
  --font-med: 1.125rem; /* 18px */
  --font-lrg: 1.625rem; /* 26px */
  --font-xl: 2.5rem; /* 40px */
  --font-super: 3rem; /* 48px */
}

html {
  /* Text will be 100% of the base font size set in the browser. Allows users to control it with zoom. Most browsers default to a 16px.*/
  font-size: 100%;

  /* Prevents containers with padding from growing. */
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 400;
  color: var(--white);
  background: url("./images/logo-pattern.png") repeat fixed;
}

body.no-scroll {
  overflow: hidden;
}

h1 {
  font-family: "Amatic SC", Helvetica, sans-serif;
  font-size: var(--font-super);
  line-height: 3rem;
  text-align: center;
}

h2 {
  font-family: "Amatic SC", Helvetica, sans-serif;
  font-size: var(--font-xl);
}

h4 {
  font-weight: 400;
}

h6 {
  line-height: 1rem;
}

a, a:visited, a:hover {
  text-decoration: none;
}

a:not(.button-cta), a:visited:not(.button-cta), a:hover:not(.button-cta) {
  color: var(--white);
}

hr {
  width: 80%;
  height: 1.25px;
  border: 0;
  border-radius: 100px;
  background-color: var(--white);
}

input, button {
  font-family: inherit;
}

/* ========== NAV BAR ========== */

nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 12px;
  background-color: var(--barbie-pink);
  box-shadow: 0 0 0.5em 0 var(--bistre);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-link {
  font-size: var(--font-sm);
  font-weight: 400;
  padding: 0.7rem 1.875rem;
  border-radius: 100px;
  border: var(--white) 1.5px solid;
  cursor: pointer;
}

.nav-link:not(.button__cta) {
  margin-right: 30px;
}

.nav-link:hover {
  box-shadow: 0 0 0.5em 0 var(--white) inset;
  transition: all 100ms ease-in 0s;
}

.button-cta {
  background-color: var(--white);
  color: var(--barbie-pink);
  font-weight: 800;
}

.button-cta:hover {
  background-color: var(--barbie-pink);
  color: var(--white);
  transition: all 200ms ease-in 0s;
}

.header-logo {
  margin-right: auto;
}

.header-logo img {
  width: 8.8rem;
  height: 2.52rem;
}

/* ========== HAMBURGER MENU ========== */

.header-toggle span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--white);
  border-radius: 100px;
  transition: all 300ms ease-in 0s;
  transform-origin: 2.5px 1px;
}

.header-toggle span:not(:last-child) {
  margin-bottom: 5px;
}

.header.open .header-toggle > span:first-child {
  transform: rotate(45deg);
}

.header.open .header-toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header-toggle > span:last-child {
  transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 4.332rem;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-image: linear-gradient(var(--pastel-pink), 95%, transparent);
}

.fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }

  1% {
    visibility: visible;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 150ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }

  99% {
    visibility: visible;
    opacity: 0;
  }

  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out 150ms ease-in-out forwards;
}

.header-menu {
  position: absolute;
  top: 69.313px;
  right: 0;
  left: 0;
  padding: 1rem 0 0;
  z-index: 1;
}

.header-menu a {
  display: block;
  padding: 2rem 0;
  margin: auto;
  width: 30vw;
  text-align: center;
  font-size: var(--font-med);
  font-weight: 600;
  cursor: pointer;
}

.header-menu a:not(:last-child) {
  border-bottom: 1.5px solid var(--white);
}

/* ========== BIO ========== */

.bio {
  position: relative;
  top: 69.313px;
  width: 100%;
  background: url("./images/bio-accent.jpeg");
  background-size: cover;
  overflow: hidden;
}

.bio-container:hover {
  clip-path: circle(75%);
}

.bio-container {
  background-color: var(--barbie-pink);
  display: flex;
  justify-content: center;
  width: 100%;
  clip-path: circle(13.5vw at 50% 50%);
  transition: clip-path .5s ease-in-out;
}

.bio-left {
  width: 36%;
  padding: 3rem;
  align-self: center;
  text-align: center;
  line-height: 1.5;
}

.bio-logo {
  background: url("./images/logo.jpeg") no-repeat center;
  background-size: 100%;
  width: 28%;
}

.bio-portrait {
  background: url("./images/portrait.jpeg") no-repeat center;
  background-size: cover;
  width: 36%;
  box-shadow: 4rem 0 3rem 0 var(--barbie-pink) inset;
}

.mobile-bio {
  width: 100%;
  height: 100vh;
  background-color: rgba(66, 45, 36, 0.92);
  text-align: center;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* ========== GALLERY ========== */

.gallery {
  position: relative;
  top: 69.313px;
  background-color: var(--white);
  padding: 2rem 10%;
}

span#gallery {
  position: absolute;
  top: -68px;
}

.gallery h1 {
  color: var(--bistre);
  line-height: 0;
}

.gallery hr {
  width: 40%;
  background-color: var(--bistre);
}

.gallery-dektop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 40vh);
  gap: 1em;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-1 {
  grid-column: 1/2;
  grid-row: 1/3;
}

.product-3 {
  grid-column: 3/4;
  grid-row: 1/3;
}

.product-5 {
  grid-column: 1/3;
  grid-row: 3/4;
}

.gallery-mobile {
  display: flex;
  align-items: center;
  background-color: var(--pastel-pink);
  padding: 1rem;
  overflow-x: scroll;
}

.gallery-mobile img {
  width: calc(80vw - 1rem);
  height: 80vh;
  object-fit: cover;
}

.gallery-mobile img:not(:last-child) {
  padding-right: 1rem;
}

/* ========== SOCIAL SECTION ========== */

.social-section {
  position: relative;
  top: 69.313px;
  background-color: var(--barbie-pink);
  margin: 10vh auto;
  width: 90vw;
  max-width: 68.75rem;
  padding: 2rem;
  border-radius: 2rem;
  border: var(--white) 1.5px solid;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  align-items: center;
}

span#social {
  position: absolute;
  top: calc(-69.313px - 10vh);
}

.social-section h1 {
  width: 100%;
  margin: 1rem auto 0;
}

.social-section hr {
  width: 40%;
}

.social-text {
  padding: 0 2rem 0 2rem;
  flex: 1.2;
  min-width: 330px;
}

.fa {
  font-size: 3rem;
  transition: all 100ms ease-in-out;
}

.fa:hover {
  transform: scale(1.1);
}

.video-desktop {
  border: var(--pastel-pink) 1rem solid;
  border-radius: 1rem;
  flex: 1.8;
  align-self: center;
  min-width: 380px;
}

.social-section-mobile {
  position: relative;
  top: 69.313px;
  width: 100%;
  background-color: rgba(223, 134, 152, 0.8);
  text-align: center;
  line-height: 1.1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 1rem 0;
}

.social-section-mobile h1 {
  margin: 2.5rem auto 1rem;
}

.social-text-mobile p {
  padding: 1rem;
}

.video-mobile {
  width: 100%;
}

/* ========== CONTACT SECTION ========== */

.contact-section {
  position: relative;
  top: 69.313px;
  background-color: var(--bistre);
  padding: 5rem 0;
  text-align: center;
}

span#contact {
  position: absolute;
  top: -69.313px;
}

.contact-section label {
  font-size: var(--font-lrg);
  color: var(--pastel-pink);
  font-weight: 600;
}

.contact-section label span {
  font-family: "Amatic SC", Helvetica, sans-serif;
  font-size: var(--font-xl);
}

.contact-section input {
  display: block;
  margin: 1rem auto;
  width: 80vw;
  max-width: 32rem;
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0 1rem;
}

.contact-section input:focus {
  outline: 0;
  box-shadow: 0 0 6px 0 var(--pastel-pink);
}

/* ========== FOOTER ========== */

footer {
  position: relative;
  top: 69.313px;
  background-color: var(--pastel-pink);
  padding: 0.5rem 0;
  color: var(--bistre);
  text-align: center;
}

footer h6 {
  margin: 0.5rem;
}

input.submit-btn {
  width: 10rem;
  background: var(--barbie-pink);
  color: var(--bistre);
  font-size: var(--font-sm);
  font-weight: 600;
}

/* ========== RESPONSIVENESS ========== */

@media screen and (max-width: 48em) {
  .hide-for-mobile {
    display: none;
  }

  .contact-section label {
    font-size: var(--font-med);
    font-weight: 600;
  }

  .contact-section label span {
    font-size: var(--font-lrg);
  }

  .contact-section input {
    height: 2rem;
  }
}

@media screen and (min-width: 48em) {
  .hide-for-desktop {
    display: none;
  }
}