/* ========== GLOBALS ========== */

:root {
  --van-dyke-brown: #644536;
  --barbie-pink: #DF8698;
  --pastel-pink: #E2ACAA;
  --white: #FDFDFF;

  --font-sm: 0.875rem; /* 14px */
  --font-med: 1.125rem; /* 18px */
  --font-lrg: 2.5rem; /* 40px */
  --font-super: 3.25rem; /* 52px */
}

html {
  /* Text will be 100% of the base font size set in the browser. Allows users to control it with zoom. Most browsers default to a 16px.*/
  font-size: 100%;

  /* Prevents containers with padding from growing. */
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 400;
  color: var(--white);
  background: url("../images/logo-pattern.png");
}

h1 {
  font-family: "Amatic SC", Helvetica, sans-serif;
  font-size: var(--font-super);
}

.accent-text {
  font-family: "Amatic SC", Helvetica, sans-serif;
  font-size: var(--font-lrg);
}

a, a:visited, a:hover {
  text-decoration: none;
}

a:not(.button-cta), a:visited:not(.button-cta), a:hover:not(.button-cta) {
  color: var(--white);
}

.flex {
  display: flex;
}

.flex-jc-fe {
  justify-content: flex-end;
}

.flex-ai-c {
  align-items: center;
}

hr {
  width: 80%;
}

/* ========== NAV BAR ========== */

nav {
  padding: 12px;
  background-color: var(--pastel-pink);
  box-shadow: 0 0 0.5em var(--van-dyke-brown);
}

.nav-link {
  font-size: var(--font-sm);
  font-weight: 400;
  padding: 0.7rem 1.875rem;
  border-radius: 100px;
  border: var(--white) 1.5px solid;
  cursor: pointer;
}

.nav-link:not(.button__cta) {
  margin-right: 30px;
}

.nav-link:hover {
  box-shadow: 0 0 0.5em 0 var(--white) inset;
  transition: all 100ms ease-in 0s;
}

.button-cta {
  background-color: var(--white);
  color: var(--pastel-pink);
  font-weight: 800;
}

.button-cta:hover {
  background-color: var(--pastel-pink);
  color: var(--white);
  transition: all 200ms ease-in 0s;
}

.header-logo {
  margin-right: auto;
}

.header-logo img {
  width: 8.8rem;
  height: 2.52rem;
}

/* ========== HAMBURGER MENU ========== */

.header-menu span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--white);
  border-radius: 100px;
  transition: all 300ms ease-in 0s;
  transform-origin: 2.5px 1px;
}

.header-menu span:not(:last-child) {
  margin-bottom: 5px;
}

/* ========== RESPONSIVENESS ========== */

@media (max-width: 48em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 48em) {
  .hide-for-desktop {
    display: none;
  }
}

/* ========== BIO ========== */

.bio {
  width: 100%;
  height: 100vh;
  background: url("/images/bio-accent.jpeg");
  background-size: cover;
  overflow: hidden;
}

.bio-container:hover {
  clip-path: circle(75%);
}

.bio-container {
  background-color: var(--pastel-pink);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  clip-path: circle(13.5vw at 50% 50%);
  transition: clip-path .5s ease-in-out;
}

.bio-left {
  width: 36%;
  padding: 2rem;
  align-self: center;
  text-align: center;
  line-height: 1.5;
}

.bio-left h1 {
  text-align: center;
}

.bio-logo {
  background: url("./images/logo.jpeg") no-repeat center;
  background-size: 100%;
  width: 28%;
}

.bio-portrait {
  background: url("./images/Portrait.jpeg") no-repeat center;
  background-size: cover;
  width: 36%;
  box-shadow: 4rem 0 3rem var(--pastel-pink) inset;
}

/* ========== GALLERY ========== */

.gallery {
  background-color: var(--white);
}