/* ========== GLOBALS ========== */

:root {
  --bistre: #422D24;
  --barbie-pink: #DF8698;
  --pastel-pink: #E9AFAE;
  --white: #FFFFFF;

  --font-sm: 0.875rem; /* 14px */
  --font-med: 1.125rem; /* 18px */
  --font-lrg: 2.5rem; /* 40px */
  --font-super: 3rem; /* 48px */
}

html {
  /* Text will be 100% of the base font size set in the browser. Allows users to control it with zoom. Most browsers default to a 16px.*/
  font-size: 100%;

  /* Prevents containers with padding from growing. */
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 400;
  color: var(--white);
  background: url("../images/logo-pattern.png") repeat fixed;
}

h1 {
  font-family: "Amatic SC", Helvetica, sans-serif;
  font-size: var(--font-super);
}

h2 {
  font-family: "Amatic SC", Helvetica, sans-serif;
  font-size: var(--font-lrg);
}

h4 {
  font-weight: 400;
}

.accent-text {
  font-family: "Amatic SC", Helvetica, sans-serif;
  font-size: var(--font-lrg);
}

a, a:visited, a:hover {
  text-decoration: none;
}

a:not(.button-cta), a:visited:not(.button-cta), a:hover:not(.button-cta) {
  color: var(--white);
}

.flex {
  display: flex;
}

.flex-jc-fe {
  justify-content: flex-end;
}

.flex-ai-c {
  align-items: center;
}

/* ========== NAV BAR ========== */

nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 12px;
  background-color: var(--barbie-pink);
  box-shadow: 0 0 0.5em var(--bistre);
}

.nav-link {
  font-size: var(--font-sm);
  font-weight: 400;
  padding: 0.7rem 1.875rem;
  border-radius: 100px;
  border: var(--white) 1.5px solid;
  cursor: pointer;
}

.nav-link:not(.button__cta) {
  margin-right: 30px;
}

.nav-link:hover {
  box-shadow: 0 0 0.5em 0 var(--white) inset;
  transition: all 100ms ease-in 0s;
}

.button-cta {
  background-color: var(--white);
  color: var(--barbie-pink);
  font-weight: 800;
}

.button-cta:hover {
  background-color: var(--barbie-pink);
  color: var(--white);
  transition: all 200ms ease-in 0s;
}

.header-logo {
  margin-right: auto;
}

.header-logo img {
  width: 8.8rem;
  height: 2.52rem;
}

/* ========== HAMBURGER MENU ========== */

.header-menu span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--white);
  border-radius: 100px;
  transition: all 300ms ease-in 0s;
  transform-origin: 2.5px 1px;
}

.header-menu span:not(:last-child) {
  margin-bottom: 5px;
}

/* ========== BIO ========== */

.bio {
  position: relative;
  top: 69.313px;
  width: 100%;
  height: 100vh;
  background: url("/images/bio-accent.jpeg");
  background-size: cover;
  overflow: hidden;
}

.bio-container:hover {
  clip-path: circle(75%);
}

.bio-container {
  background-color: var(--barbie-pink);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  clip-path: circle(13.5vw at 50% 50%);
  transition: clip-path .5s ease-in-out;
}

.bio-left {
  width: 36%;
  padding: 3rem;
  align-self: center;
  text-align: center;
  line-height: 1.5;
}

.bio-left h1 {
  text-align: center;
}

.bio-left hr {
  width: 80%;
  height: 1.25px;
  border: 0;
  background-color: var(--white);
}

.bio-logo {
  background: url("./images/logo.jpeg") no-repeat center;
  background-size: 100%;
  width: 28%;
}

.bio-portrait {
  background: url("./images/portrait.jpeg") no-repeat center;
  background-size: cover;
  width: 36%;
  box-shadow: 4rem 0 3rem var(--barbie-pink) inset;
}

.mobile-bio {
  width: 100%;
  height: 100vh;
  background-color: rgba(66, 45, 36, 0.92);
  text-align: center;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.mobile-bio h1 {
  text-align: center;
}

.mobile-bio hr {
  width: 80%;
  height: 1.25px;
  border: 0;
  background-color: var(--white);
}

/* ========== GALLERY ========== */

.gallery {
  position: relative;
  top: 69.313px;
  background-color: var(--white);
  padding: 2rem 10%;
}

span#gallery {
  position:absolute;
  top: -69.313px;
}

.gallery h1 {
  color: var(--bistre);
  text-align: center;
  line-height: 0;
}

.gallery hr {
  width: 40%;
  height: 1.25px;
  border: 0;
  background-color: var(--bistre);
}

.gallery-dektop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 40vh);
  gap: 1em;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-1 {
  grid-column: 1/2;
  grid-row: 1/3;
}

.product-3 {
  grid-column: 3/4;
  grid-row: 1/3;
}

.product-5 {
  grid-column: 1/3;
  grid-row: 3/4;
}

.gallery-mobile {
  display: flex;
  align-items: center;
  background-color: var(--pastel-pink);
  padding: 1rem;
  overflow-x: scroll;
}

.gallery-mobile img {
  width: calc(80vw - 1rem);
  height: 80vh;
  object-fit: cover;
}

.gallery-mobile img:not(:last-child) {
  padding-right: 1rem;
}

/* ========== VIDEO SECTION ========== */

.video-section {
  position: relative;
  top: 69.313px;
  height: 100vh;
  display: flexbox;
  justify-content: center;
  align-items: center;
}

.video-container {
  background-color: var(--pastel-pink);
  padding: 1em;
  margin: 10vh 20vw;
}

iframe {
  width: 100%;
}

/* ========== SOCIAL SECTION ========== */

.social-section {
  position: relative;
  top: 69.313px;
}

/* ========== RESPONSIVENESS ========== */

@media (max-width: 48em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 48em) {
  .hide-for-desktop {
    display: none;
  }
}